---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
        {% for member in site.members %}
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="">
                <div class="he-view">
                    <div class="bg a0" data-animate="fadeIn">
                        <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                        {% for entry in member.social %}
                            <a href="{{ entry.url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-{{ entry.title }}"></i></a>
                        {% endfor %}
                    </div><!-- he bg -->
                </div><!-- he view -->		
            </div><!-- he wrap -->
            <h4>{{ member.name }}</h4>
            <h5 class="ctitle">{{ member.position }}</h5>
            <p>{{ member.text }}</p>
            <div class="hline"></div>
        </div><! --/col-lg-3 -->	 	
        {% endfor %}
            </br>    
        </div>
        <div class="col-lg-6">
            <h4>About Me</h4>
            <p>I do pixel art when I'm not coding, participating in game jams, or working on projects. A majority of my projects contain my pixel art, however a minority of my art am I actually satisfied with. </p>
            <p>I used to study maths before changing to to a life of programming and game design. I believe that programming and game design require an equally diverse set of skills that stem off logic, inspiration, and experience, areas of which I am constantly exploring.
            <p>If you have any questions about my projects or wish to see/play them then feel free to ask! 
            <p><br/><a href="{{ "/contact/" | prepend: site.baseurl }}" class="btn btn-theme">Contact Me</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->