<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Portfolio</h3>
                <h1>Ben Windley</h1>
                <h5>Welcome, here I have my past and current projects!</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/Bard_small.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
